# globus app credentials
export GLOBUS_APP_ID=<your dev app's id goes here>
export GLOBUS_APP_SECRET=<your dev app's secret goes here>

# the resource server's credentials
export GLOBUS_RS_ID=ed3e577d-f7f3-4639-b96e-ff5a8445d699
export GLOBUS_RS_SECRET=<the resource server's secret goes here - ask Gabor to add you to the resource server>

export GLOBUS_RS_SCOPE_SUFFIX=iri_api

# S3DF status adapter
export S3DF_STATUS_CHECKS_JSON='{}'
